<h1> {{ title | uppercase }}</h1>

<!-- <ul class='heroes'>
  <li>
    <span class="badge">{{hero.id}}:</span>{{hero.name}}
  </li>
</ul> -->

<!-- <div>
  <label>name:</label>
    <input [(ngModel)]="hero.name" placeholder="name"/>
</div> -->
<nz-list nzBordered nzHeader="Hero List" nzFooter="All Heros">
  <nz-list-item *ngFor="let hero of heros" (click)="onSelect(hero)">
    {{hero.id}}:{{hero.name}}</nz-list-item>

</nz-list>


<app-hero-detail
  [hero]="selectedHero"
  (save)="save()"
  (delete)="delete()"
  (resethero)="OnReset()">
</app-hero-detail>
